[bumpversion]
current_version = 0.6.8
commit = False
tag = False

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:superbryn_pipecat_observer/observer.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:README.md]
search = @superbryn/pipecat-observer@{current_version}
replace = @superbryn/pipecat-observer@{new_version}

[bumpversion:file(badge):README.md]
search = pypi-v{current_version}-orange
replace = pypi-v{new_version}-orange
